body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  margin-top: 50px;
}
main {
  margin: auto;
  width: 90%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.container {
  display: block;
}

.productDescription {
  font-size: 21px;
  font-weight: 700;
  padding-right: 30px;
}

.productPrice {
  display: inline-block;
  width: 2000px;
}

.inputTitle {
  display: inline-block;
}

.productInput {
  display: inline-block;
  width: 80px;
  padding: 0px 2px;
  text-align: center;
  margin-bottom: 20px;
}

#calculate {
  margin-left: 170px;
}
